
.header-text-blue {font-size: 26pt; color: #07598A; text-align: left; font-weight: 700; line-height: 34pt;}

.header-text-magenta {font-size: 26pt; color: #DF3A95; text-align: left; font-weight: 700; line-height: 34pt;}

.btn-magenta {
  color: #ffffff;
  background-color: #D71596;
  margin-top: 14px;
}

.btn-magenta:focus,
.btn-magenta.focus {
  background-color: #b41f72;
}
.btn-magenta:hover {
  color: #fff;
  background-color: #b41f72;
}


.btn-blue {
  color: #ffffff;
  background-color: #07598A;
  margin-top: 14px;
}

.btn-blue:focus,
.btn-blue.focus {
  background-color: #b41f72;
}
.btn-blue:hover {
  color: #fff;
  background-color: #b41f72;
}

.hr-blue {
    border-top: 4px solid #07598A;
    margin-top: 50px;
}

.hr-magenta {
    border-top: 4px solid #D71596;
    margin-top: 50px;
}

.section-title-teal {
    color:#54C4C3;
    text-transform: uppercase;
    font-size:20px;
    font-weight:800;
    margin-top: -10px;
}

.section-title-blue {
    color:#07598A;
    text-transform: uppercase;
    font-size:20px;
    font-weight:800;
    margin-top: -10px;
}

.section-title-white {
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    font-weight:800;
    margin-top: -10px;
}

.div-space{
    height: 30px;
}

.body-copy {
    font-weight:300;
    font-size: 12pt;
    line-height: 22pt;
}

.body-copy-white {
    font-weight:300;
    font-size: 12pt;
    line-height: 22pt;
    color:#fff;
}

.row.local-agencies {
  padding-bottom: 40px;
  padding-right:20px;
  padding-left: 20px;
  background-color:#07598A;
}

.row.rising-current-box {
  padding-bottom: 40px;
  padding-right:20px;
  padding-left: 20px;
  background-color:#54C4C3;
}

/* foooter */

#footer-non {
  background-color: #DF3A95;
  padding-bottom: 10px;
  padding-right:20px;
  padding-left: 20px;

}

.footer-text {
  margin: 10px 0;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 12px;
    color: #fff;
}

/* END of foooter */

/* GOOLGE MAP */
#map {
        height: 100%;
      }
