 @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
html, body {
    font-size: 12pt;
}
html,body,h1,h2,h3,h4,h5,h6,p,*:not(i) {
    font-family: 'Roboto', sans-serif!important;
}
.pusher {
    padding-top: 3.625rem;
}
.container {
    max-width: 720px;
}
header {
    background-color: #07598a!important;
}
header.ui.inverted.menu .item {
    /*color: #5acfca;*/
    font-size: 1.063rem;
}
header.ui.inverted.menu .logo.item {
    color: #5acfca;
    font-weight: 600;
    font-size: 1.125rem;
}
h1.ui.huge.header {
    font-weight: 800;
    color: #df3995;
}
h2.ui.medium.primary.header {
    display: inline;
    color: #07598a;
    font-weight: 800;
    border-top: 0.1875rem solid #df3995;
    text-transform: uppercase;
    padding-top: 0.3125rem;
    font-size: 20px;
}
h2.ui.medium.primary.header .sub.header {
    margin: calc(2rem - 0.58035714rem) 0;
    text-transform: none;
    color: #54c4c3;
    font-size: 2.125rem;
    font-weight: 200;
}
a.ui.circular.small.primary.button {
    min-width: 9.5rem;
    background-color: #07598a;
}
a.ui.circular.small.secondary.button {
    min-width: 9.5rem;
    background-color: #df3995;
}
section.ui.vertical.basic.very.padded.primary.segment {
    background: #07598a;
}
h2.ui.medium.secondary.header {
    display: inline;
    color: #fff;
    border-top: 0.1875rem solid #df3995;
    text-transform: uppercase;
    padding-top: 0.3125rem;
}
h2.ui.medium.secondary.header .sub.header {
    margin: calc(2rem - 0.58035714rem) 0;
    text-transform: none;
    color: #fff;
    font-weight: 200;
    line-height: 26pt;
}
.ui.checkbox input[type=checkbox], .ui.checkbox input[type=radio] {
}
.disabled.field .ui.radio.checkbox label {
    font-style: italic;
}
.ui.divided.items > .item {
    border-width: 0.125rem;
}
.ui.divided.items.feed .item .content .header {
    font-size: 1.125rem;
    color: #54c4c3;
}
.pt-0 {
    padding-top: 0!important;
}
footer {
    background-color: #54c4c3!important;
}

#nyc-alerts>.ui.items>.item>.content>.header {
font-size: 12px;

}

.header-text-blue {font-size: 26pt; color: #07598A; text-align: left; font-weight: 700; line-height: 34pt;}

.header-text-magenta {font-size: 26pt; color: #DF3A95; text-align: left; font-weight: 700; line-height: 34pt;}

.btn-magenta {
  color: #ffffff;
  background-color: #D71596;
  margin-top: 14px;
}

.btn-magenta:focus,
.btn-magenta.focus {
  background-color: #b41f72;
}
.btn-magenta:hover {
  color: #fff;
  background-color: #b41f72;
}


.btn-blue {
  color: #ffffff;
  background-color: #07598A;
  margin-top: 14px;
}

.btn-blue:focus,
.btn-blue.focus {
  background-color: #b41f72;
}
.btn-blue:hover {
  color: #fff;
  background-color: #b41f72;
}

.hr-blue {
    border-top: 4px solid #07598A;
    margin-top: 50px;
}

.hr-magenta {
    border-top: 4px solid #D71596;
    margin-top: 50px;
}

.section-title-teal {
    color:#54C4C3;
    text-transform: uppercase;
    font-size:20px;
    font-weight:800;
    margin-top: -10px;
}

.section-title-blue {
    color:#07598A;
    text-transform: uppercase;
    font-size:20px;
    font-weight:800;
    margin-top: -10px;
}

.section-title-white {
    color:#fff;
    text-transform: uppercase;
    font-size:20px;
    font-weight:800;
    margin-top: -10px;
}

.div-space{
    height: 30px;
}

.body-copy {
    font-weight:300;
    font-size: 12pt;
    line-height: 22pt;
}

.body-copy-white {
    font-weight:300;
    font-size: 12pt;
    line-height: 22pt;
    color:#fff;
}

.row.local-agencies {
  padding-bottom: 40px;
  padding-right:20px;
  padding-left: 20px;
  background-color:#07598A;
}

.row.rising-current-box {
  padding-bottom: 40px;
  padding-right:20px;
  padding-left: 20px;
  background-color:#54C4C3;
}




/* END of foooter */

/* GOOLGE MAP */
#map {
    height: 100vh;
}


#accuweather {
    margin-top: 3rem;
}

#sidebar i {
    font-size: 1.74rem;
}

.nav-container {
    margin: 0 auto!important;
    width: 100%;
    max-width: 720px;
}
.ui.radio.checkbox input:checked~.box, .ui.radio.checkbox input:checked~label, .ui.radio.checkbox input:checked~.box, .ui.radio.checkbox input:checked~label {
    font-weight: 600;
    color: #54c4c3!important;
}
.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
    border: none!important;
}
.ui.radio.checkbox input:checked~.box:after, .ui.radio.checkbox input:checked~label:after, .ui.radio.checkbox input:checked~.box:before, .ui.radio.checkbox input:checked~label:before {
    background-color: #54c4c3!important;
}

.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after {
    top: -1px;
    left: -2px;
    width: 19px;
    height: 19px;
    background-color: #07598a;
    opacity: 1;

}

.ui.radio.checkbox .box:before, .ui.radio.checkbox label:before {
    border: none!important;
    background-color: #54c4c3;
}

.rhythm {
  margin: calc(2rem - 0.58035714rem) 0!important;
}

.ui.divided.items>.item {
    border-width: 1px;
}